.home-container {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    border-bottom: 2px solid #1abc9c;
    padding-bottom: 10px;
}

.nav-item {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #2c3e50;
    transition: color 0.3s, transform 0.3s;
}

.nav-item:hover {
    color: #1abc9c;
    transform: scale(1.1);
}

.nav-item.active {
    /* text-decoration: underline; */
    color: #1abc9c;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 20px;
}

.header-title {
    font-size: 48px;
    color: #1abc9c;
    
}

.header-subtitle {
    font-size: 24px;
    color: #34495e;
   
}

.header-image {
    width: 240px;
    height: 240px;
    margin-right: 20px;
    border-radius: 100%;
}

.appointment-button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
}

.appointment-button:hover {
    background-color: #16a085;
}

.about-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about-title {
    color: #333;
    margin-top: 20px;
}

.about-list {
    list-style-type: none;
    padding: 0;
}

.about-item {
    margin: 5px 0;
}

.about-description {
    line-height: 1.6;
    color: #555;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1; /* Light background for the footer */
    border-top: 2px solid #1abc9c; /* Top border to match the theme */
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-media a {
    margin: 0 10px; /* Space between social media links */
    text-decoration: none;
    color: #2c3e50; /* Link color */
    transition: color 0.3s;
}

.social-media a:hover {
    color: #1abc9c; /* Change color on hover */
}

.location {
    margin-bottom: 10px;
    color: #555; /* Color for location text */
}

.copyright {
    font-size: 14px;
    color: #777; /* Color for copyright text */
}